/***********************BTN***********************/
.btn {
	display: block;
	box-sizing: border-box;
	text-decoration: none;
	text-transform: uppercase;
	border: none;
	//transition: all .4s ease;
	outline: none;
	background: rgba(0, 0, 0, 0);
	cursor: pointer;
	-webkit-appearance: none;
	transition: all .5s cubic-bezier(0.2, 1, 0.3, 1);

	&--bordered {
		position: relative;
		z-index: 100;
		padding: 1em 2em;
		font-size: $base-font-size * .875;
		text-align: center;
		letter-spacing: .1em;
		color: $base-text-color;
		border: 1px solid $base-color-red;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			background-color: rgba(0,0,0,0);
			transform-origin: top;
			//transform: scaleY(0);
			transition: all .5s cubic-bezier(0.2, 1, 0.3, 1);
		}
		&:hover,
		&:focus {
			color: $base-color-white;
		}
		&:hover::before,
		&:focus::before {
			//transform: scaleY(1);
			background-color: $base-color-red;
		}
	}

	&--filled {
		position: relative;
		z-index: 100;
		min-height: 3.57em;
		line-height: 3.57em;
		padding: 0 2em 0 1.5em;
		font-size: $base-font-size * .875;
		color: $base-color-white;
		font-weight: bold;
		border-radius: 0;
		border: 1px solid $base-color-red;
		overflow: hidden;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			box-sizing: border-box;
			width: 100%;
			height: 100%;
			background-color: $base-color-red;
			transition: all .5s cubic-bezier(0.2, 1, 0.3, 1);
			transform-origin: top;
			transform: scaleY(1);
		}
		&:hover,
		&:active,
		&:focus {
			color: $base-color-white;
			border-color: darken($base-color-red, 10%);
			&::before {
				//transform: scaleY(0);
				background-color: darken($base-color-red, 10%);
			}
		}
	}

	&--white {
		color: $base-text-color;
		border-color: $base-color-white;
		&::before {
			background-color: $base-color-white;
		}
		&:hover,
		&:active,
		&:focus {
			color: $base-text-color;
			border-color: darken($base-color-white, 15%);
			&::before {
				background-color: darken($base-color-white, 15%);
			}
		}
	}

	&--grey {
		color: #9a9a9a;
		border-color: #9a9a9a;
	}
}
