/************MAIN-NAV**************/
.main-nav {
	position: absolute;
	z-index: 300;
	top: 100%;
	left: 0;
	width: 100%;
	background: $base-color-white;
	border: 1px solid $base-color-grey;
	display: none;
	@media screen and (min-width: $media-lg + 1) {
		position: static;
		border: none;
		display: block;
		align-self: stretch;
		box-sizing: border-box;
		width: 34.375em;
		margin: 0;
		padding: 0;
		color: $base-text-color;
	}

	&__topmenu {
		margin: 0 auto;
		padding: 0;
		list-style: none;
		text-align: center;
		text-transform: uppercase;
		@media screen and (min-width: $media-lg + 1) {
			position: static;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			min-height: 9.375em;
		}
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 3em;
		cursor: pointer;
	}

	&__link {
		display: block;
		box-sizing: border-box;
		text-decoration: none;
		line-height: 1;
		letter-spacing: .1em;
		font-size: $base-font-size * .875;
		font-family: $base-font-family;
		color: inherit;
		transition: all .5s ease;
		outline: none;
		&:hover,
		&:focus {
			color: $base-color-red;
		}

		&--active {
			color: $base-color-red;
			font-weight: bold;
			cursor: default;
			transition: all .5s ease;
		}
	}

	&__icon {
		order: -1;
		width: .6em;
		height: .6em;
		margin: 0 .3em .2em 0;
		cursor: pointer;
		fill: $base-text-color;
		will-change: transform;
		transform: rotateZ(0deg);
		transition: all .4s ease;

		&--isOpen {
			transform: rotateZ(180deg);
		}
	}

	&__submenu {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 500;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
		box-sizing: border-box;
		width: 100%;
		margin: 0;
		padding: 2.8em;
		list-style: none;
		font-size: $base-font-size * 1.125;
		text-align: left;
		background-color: $base-color-white;
		will-change: transform;
		transform-origin: top;
		transform: translateY(2em);
		opacity: 0;
		visibility: hidden;
		border: 1px solid $base-color-grey;
		transition: all .4s ease;

		&--isActive {
			transform: translateY(0);
			opacity: 1;
			visibility: visible;
		}
	}

	&__subitem {
		box-sizing: border-box;
		padding: 0 2em 0 0;
		border-right: 1px solid #e1e1e1;
		&:last-child {
			padding: 0;
			border: none;
		}
	}

	&__sublink {
		display: block;
		position: relative;
		box-sizing: border-box;
		padding: 0;
		font-size: 1.667em;
		text-decoration: none;
		text-transform: capitalize;
		font-weight: bold;
		color: #8b8b8b;
		text-align: left;
		line-height: 1;
		letter-spacing: .1em;
		transition: all .3s ease;
		outline: none;
		border: none;
		cursor: pointer;
		&:hover,
		&:focus {
			color: darken(#8b8b8b, 15%);
		}

	}

	&__list {
		margin: 1em 0 0;
		padding: 0;
		list-style: none;
		line-height: 2;
	}
	
	&__listlink {
		display: block;
		min-width: 11.2em;
		width: 100%;
		text-decoration: none;
		text-transform: none;
		color: inherit;
		font-weight: 400;
		transition: all .4s ease;
		&:hover,
		&:active,
		&:focus {
			color: $base-color-red;
		}
	}

}